RewriteEngine On
RewriteRule ^robots.txt$ robots.txt [L]
RewriteRule ^(aw)?stats/$ http://openkeyval.org/awstats/awstats.pl [R=301,L]
RewriteRule ^statics/(.*)$ statics/$1 [L]
RewriteRule ^crossdomain.xml$ crossdomain.xml [L]
RewriteRule ^(.*)$ index.php?key=$1 [QSA,L]
